:root {

	/* Colors */
	--global--color-black: #000;
	--global--color-dark-gray: #28303d;
	--global--color-gray: #39414d;
	--global--color-light-gray: #f0f0f0;
	--global--color-green: #d1e4dd;
	--global--color-blue: #d1dfe4;
	--global--color-purple: #d1d1e4;
	--global--color-red: #e4d1d1;
	--global--color-light-pink: #FFF3F4;
	--global--color-orange: #e4dad1;
	--global--color-yellow: #eeeadd;
	--global--color-white: #fff;
	--global--color-opac: rgba(255,255,255,0.35); //for the wrapper
	--global--color-white-50: rgba(255, 255, 255, 0.5); // Used for disabled buttons
	--global--color-white-90: rgba(255, 255, 255, 0.9); // Used in form fields.
}
  

html {
	scroll-behavior: smooth;
    height: 100%;
    overflow: none;
}

/*--------------------------------------------------------------
Repeatable Patterns
--------------------------------------------------------------*/


body {
   
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    background: #fff;
    //color: #767676;
    
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
	
    
}
a:hover,
a:focus {
    color: #443f3f;
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease-in-out;

}

a, a:visited { 
	
	color: var(--global--color-white);

}
p {
    margin-bottom: 5px;
	
}
.footer-widgets .widget ul,
.widget-area .widget ul {
    list-style: none;
    padding: 0;
}
.widget .children {
    padding-left: 15px;
}

.img {
    max-width: 100%;
    height: auto;
}
.img-left {
    margin: 0 33px 0 0 !important;
    float: left;
}
.img-right {
    margin: 0 0 0 33px !important;
    float: right;
}
strong {
    font-weight: 600;
}

.text-white { color: #fff !important; }
.text-dark { color: #443f3f !important;}

table {
width: 100%;
}
th,td {
border: 1px solid #333;
padding: 5px;
text-align: center;
}