
  

  #page, .container-fluid {
      background-color: rgba(1, 2, 34, 0.6); 
      min-height: 100%;
  }
  header {
      height: 120px;
  }
  
  main h1 { 
      color: white;
  }
  
  .icons {
	  margin: 8rem 0;
	  color: var(--global--color-white);

  }
  
  .landing-footer {
	  margin: 10rem 0rem;
	  padding: 2rem;
      background: #141537;
      width: 100%;
      height: auto;
	  color: var(--global--color-white);

	img {
		max-width: 166px;
	}

}
  .feature > p {
      font-size: .75rem!important;
  }
  
  .btn-orange { 
      background-color: #A55A01;
      color: var(--font-color);
    
  }
  
  .card {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 100%;
  }
  
  
  //Custom NavBar beyond Bootstrap
  .navbar-light .navbar-nav .nav-link {
      color: whitesmoke;
  }
  .navbar-light .navbar-nav .nav-link:hover {
      color: whitesmoke;
  }
  
  .navbar-light .navbar-toggler-icon{
      background-image: url('../vonline/images/vo-logo.png')!important;
      background-size: contain;
      width: 40px;
  }   
  
  #homeMenu {
      background-color: #1415379b;
      justify-content: flex-end;
  }
  
  #homeMenu a, #homeMenu a:visited  { 
      margin: 4rem;
      font-size: 2rem!important;
  }
  
  
   // larger devices
  @media (min-width: 576px) {  
  
      .container-xxl {
          height: 100%;
      }
  
      header {
          height: 180px;
      }
      #homeMenu {
          margin-right: 4rem;
          background-color: transparent;
          justify-content: flex-end;
      }
   
      main {
          margin-top: 2rem!important;
          margin-bottom: 10rem!important;
      }
      .icons {
          margin-top: 10rem;
          margin-bottom: 10rem;
  
      }
  
      .icon {
          width: 200px;
          height: auto;
      }
  
  
      .footer {
          margin-top: 5rem;
      }
  }
